[2014-02-07 01:51] alecmeltzer opened #22 "Edit default amount on grant application page"
The "Requested Amount" form field is not accessible on the grant application pages. Default amount value is printed to the screen, but no input form is available to change the default.

[2014-02-19 19:26] jatrackclub opened #32 "Wordpress Shortcode not appearing"
I have just recently installed this extension in a wordpress site however the short codes are not showing up / being recognized by WP. Are there any additional setup items that need to be done to be able to enable this?
Thank you for your help

[2014-04-09 08:35] #32 closed, assigned to nobody

[2015-02-11 11:19] pradpnayak opened #94 "text fields for Profile selection on grant application page"
From Dana:
In setting up a Grant Application on the profiles I don't get any dropdown or select I have to add by profile IDs. This affects On Behalf of Orgs profile selection too.
![grants-app-no-profile-select](https://cloud.githubusercontent.com/assets/2053075/6146009/12635ba6-b20e-11e4-99cd-64b6e016bca0.png)

[2015-02-11 11:21] pradpnayak commented on #94
-- We are unable to replicate the error. But i remember in past for different project we had similar problem in case of selecting Profile for Event. The issue was because of custom theme. Are you able to see dropdown for profile on Event or Contribution page?

[2015-02-11 11:22] pradpnayak opened #95 "No grants visible on Contact Dashboard"
From Dana:

If I save the grant it does save, but does not show on the User Dashboard. I did go enable the checkbox for it to appear and cleared the cache and still the grants I saved did not appear in my user/contact dashboard for me to ho back and edit. This was when I saved grant applications as an indvidual. When I added on behalf of org my contact dashboard went blank for the individual conta

[2015-02-11 11:22] pradpnayak commented on #95
Did you replace ReplaceInfo/Info with CRM/Grant/Info.php? We need to over-ride core file to get the grant visible on User Dashboard.

 Currently, the User Dashboard is only intended to show Grants that are in Draft state. Viewing from User Dashboard was not in scope so far. Is it a desired feature? If so, we need a spec for things like hiding of certain fields during review process?

[2015-03-03 12:51] brentdec opened #96 "New Grant Application Page forwards to generic CiviCRM Administration Page"
I was unable to install the Grants Application extension automatically, so I manually installed it. Everything acts as though it's installed correctly. However, when I try to access the New Grant Application  Page, instead I get the generic CiviCRM Admin page.

![extension page](https://cloud.githubusercontent.com/assets/11293960/6462757/d2ed6342-c160-11e4-9461-f12ca10bc9f8.png)
![new grant page](

[2015-03-03 12:54] Edzelopez commented on #96
Hi @brentdec

Could you try rebuilding your menu? Please add civicrm/menu/rebuild?reset=1 to your site's base URL and let me know if that worked for you.

Thanks!

[2015-03-03 12:56] pradpnayak commented on #96
Hi @brentdec

Could you tell us what version of CiviCRM are you using? Did you add Extension url correctly in Resource url?

Thanks
Pradeep

[2015-03-03 12:56] brentdec commented on #96
Wow!

Now that’s prompt!

I’m sorry, but how do I rebuild the menu?

Brent

[2015-03-03 13:02] Edzelopez commented on #96
Just try adding civicrm/menu/rebuild?reset=1 to your site's domain.

For example,

http://mysite.com/civicrm/menu/rebuild?reset=1 for a Drupal site

http://mysite.com/wp-admin/admin.php?page=CiviCRM&q=civicrm/menu/rebuild&reset=1 for a WP site

[2015-03-03 13:02] pradpnayak commented on #96
2 ways:

1. Cleanup Caches and Update path
Administer-> System Settings -> Cleanup Caches and Update Paths : Cleanup Caches

2. Hitting url http://[domain_name]/civicrm/menu/rebuild?reset=1

[2015-03-03 13:06] brentdec commented on #96
Pradeep,

I am using version 4.5.6

I’m unclear on the Extension URL…

[2015-03-03 13:09] brentdec commented on #96
Rebuilt menus - no joy

Performed Clean Up Cache and update path - no joy

[2015-03-03 13:11] brentdec commented on #96
See photo - Grant Dashboard

[2015-03-03 13:14] Edzelopez commented on #96
Hi @brentdec

Unfortunately, we haven't released a 4.5.x compatible extension yet, but will do so in the near future. It is currently being tested, so any help with testing with the 4.5.x version is much appreciated!

Just a tip, you can add an extension resource URL at Administer >> System Settings >> Resource URLs

This would allow you to download the extension from CiviCRM itself.

[2015-03-03 13:23] brentdec commented on #96
No problem helping…

BTW

Currently the extension resource URL is:

http://www.truevoicefoundation.org//home/decdigital/www/www/sites/default/files/civicrm/extensions/ <http://www.truevoicefoundation.org//home/decdigital/www/www/sites/default/files/civicrm/extensions/>

that appears weird to me (the two slashes after domain). Is it correct (as far as you can tell?)

[2015-03-03 13:24] Edzelopez commented on #96
Since the site directory is /home/decdigital/www/www, the extension resource URL should be

http://www.truevoicefoundation.org/sites/default/files/civicrm/extensions/

[2015-03-03 13:27] brentdec commented on #96
great - I’ll try reinstalling the extension and let you know how it works

[2015-03-03 13:28] Edzelopez commented on #96
@brentdec
Sure.

btw, I just changed the links from your previous post to remove the actual site name for security reasons.

Cheers,
Edsel

[2015-03-03 14:16] brentdec commented on #96
Just downloaded a new copy from Github, installed manually, rebuilt menus - working!

[2015-03-10 17:55] danaskallman commented on #95
Yes, this works if I replace the core file.

Is there a way to do this without having to replace a core file? Maybe using the custom directory or something, which would make updates of core much easier?

[2015-03-10 17:59] danaskallman commented on #94
I was testing with default theme, but this is admin area too, so not sure I fillow how the theme would affect it. Yes, it works on Events and Contribution pages too.

I just downloaded the latest version and grants application profile selection is now working too.

[2015-03-10 18:02] danaskallman opened #98 "WP Shortcode for 4.5"
I was looking at what's in the shortcode-wp directory and noticing that the core file is using 4.4 not 4.5 civicrm.js file.

If I am understanding correctly, we are needing to replace for files for this to work in WP, is that correct? If so, what can be done to change it so core files are not needed to be replaced?

[2015-03-10 18:20] JoeMurray commented on #94
So let's close for now.

[2015-03-10 18:20] #94 closed

[2015-03-10 18:36] danaskallman commented on #94
Yes, we can re-open if issue returns

[2015-06-30 12:19] shawnholt opened #109 "Fatal error when used with logging"
I have seen this before with extensions that use external database tables as the log table is not created properly. will try to disable/re-enable or create log manually.

Jun 30 08:14:56  [info] $backTrace = #0 /home/xxxxx/public_html/wp-content/plugins/civicrm/civicrm/CRM/Core/Error.php(235): CRM_Core_Error::backtrace("backTrace", TRUE)
#1 [internal function](): CRM_Core_Error::handle(Object(DB_E

[2015-06-30 18:53] JoeMurray commented on #109
What were you doing when the error occurred? In particular, what was the URL?

[2015-06-30 19:06] shawnholt commented on #109
creating grant application.

On Tue, Jun 30, 2015 at 2:53 PM, Joe Murray <notifications@github.com>
wrote:

[2015-06-30 19:17] JoeMurray commented on #109
It appears the software is not properly installed as a needed table is missing. What is the current version of grant application pages extension installed, and what is the history of its installation and upgrade on this instance?

[2015-07-01 18:42] shawnholt commented on #109
Sorry @JoeMurray I do not have a clear history, however, I disabled via backend database (backend was not usable.) turrned off logging, re-enabled, turned on logging and it worked fine.  I saw this same issue once before (in drupal) with the mailchimp module - https://github.com/veda-consulting/uk.co.vedaconsulting.mailchimp/issues/74

[2015-07-01 18:58] shawnholt opened #110 "Grant profile does not allow mixed types"
I'm exploring the Grant functionality for an exploratory discussion with a potential client.

First, I Now understand the true value of this extension, **not only does it create a page for Grants, but it also enables profiles to support Grant field types!**  Without it, you must assign grant fields to an individual or organization (which I may have to resort to...) This makes The extension indispe

[2015-07-01 19:02] shawnholt commented on #110
Note, the Grant Application Page does show the mixed profile: http://example.org/civicrm?page=CiviCRM&q=civicrm/grant/transact&reset=1&id=1

However, the wordpress Widget is only for the Profile, it is not for the page so it will not work.

[2015-07-10 00:56] rpamfil opened #111 "PayPal IPN"
We have an event page that takes payments that are then confirmed by PayPal via IPN.
When the IPN comes back, somehow the grant applications extension gets involved while it is loading the profile for the event registration. This leads to a fatal error, and the email confirmation for the payment is never sent by Civi.

[code]

Looking at the code in the referenced UFGroup.php at line 325, it looks

[2015-07-10 12:50] JoeMurray commented on #111
The extension overrides that core file. What version of CiviCRM are you using?

[2015-07-10 13:03] rpamfil commented on #111
I'm using 4.6.4 (Wordpress).

[2015-07-12 23:00] rpamfil commented on #111
I checked the diff between the version of UFGroup.php that your extension is supplying and the stock one, and I cannot see any difference that would explain this error. Either the bug is in the stock handling of these fields, or we have some data corruption that is causing this. Give me a few days to check and I will confirm if I can isolate this error to when your extension is on.
Thanks.

[2015-07-12 23:44] rpamfil commented on #111
I can confirm that the error disappears when the extension is turned off. So the extension is causing the problem. I am not sure what in the UFGroup.php is causing it, but changing $skipPermission=TRUE in line 291 makes the error disappear. I can provide a full diff to make sure that the version I have has the correct relationship to the original UFGroup.php, but I can't attach it.

[2015-07-14 00:54] JoeMurray commented on #111
Yes, please provide diff. Thanks!!
On Jul 12, 2015 7:44 PM, "rpamfil" <notifications@github.com> wrote:

[2015-07-14 22:39] rpamfil commented on #111
Here is the diff:
http://pastebin.com/prbKLZLc
The first section of the diff is the change to $skipPermission that I made to work around the error.

[2015-07-15 21:24] JoeMurray commented on #111
And can you provide information on what profile 17 is used for (Event participants?), and what the fields in the profile are (eg contact core fields, contact custom fields, participant core...). Thanks.

[2015-07-16 01:18] JoeMurray commented on #110
Sorry for slow reply. Edit and create are generally treated similarly for certain things like this message.

The problem is not expected behaviour. You should be able to have core and custom fields for contact, individual, grant all on one profile.

Can you provide CiviCRM, extension, and WordPress versions? Are you able to replicate on wp46. demo.civicrm.org?

[2015-07-16 01:27] shawnholt commented on #110
Thx.  Will send tomorrow am.
On Jul 15, 2015 9:18 PM, "Joe Murray" <notifications@github.com> wrote:

[2015-07-16 10:47] rpamfil commented on #111
Thanks for looking into this.
I got this error for profile 17, which is on an event form, and then for
profile 13, which is on our donation form. It seems like it doesn't matter
what the profile is.
I think the key here is that the script runs out of ipn.php. It may be that
the user or permission level available in that environment may be more
limited than if you're looking on a form in a fully bo

[2015-07-16 16:36] pradpnayak commented on #96
closing this as its fixed

[2015-07-16 16:36] #96 closed

[2015-07-16 17:37] JoeMurray commented on #98
Please rewrite to make use of https://issues.civicrm.org/jira/browse/CRM-16650

[2015-07-16 17:56] JoeMurray commented on #109
Closing as unreproducible and likely due to odd install/upgrade path.

[2015-07-16 17:56] #109 closed

[2015-07-17 15:22] JoeMurray commented on #111
@rpamfil Here's some feedback from Kevin Christiano. I'm going to loop him in here since this seems to be an IPN issue that may have had a fix for 4.6.4 that broke our stuff??

" There was an issue with the ipn.php for PayPal in version 4.5.   It was
OK in 4.4 and fixed in 4.6.3.

"The fix was making sure that the CMS got bootstrapped (Drupal was all
set, WP fixed in 4.6.3) and that the default ac

[2015-07-17 16:18] kcristiano commented on #111
Taking a look at this,  The problem seems to be related to the value of `$skipPermission`

In the pastebin, it shows that CRM_Core_BAO_UFGroup sets this as follows:

`$skipPermission = FALSE,`

This is correct as we need to boot WP and get the proper permissions to send the emails out to confirm the transaction.

Thisi was done here:

PayPal IPN Fix :
WP: https://github.com/civicrm/civicrm-wordpre

[2015-07-17 16:56] shawnholt commented on #110
I am using this on 4.6.4 + wordpress (latest).  Running as admin.
I enable Grants + Extension
Create a profile and include individual First, Last
Include Grant custom fields
Click preview and it works
Click Use (Create Mode)
Error: Sorry but we are not able to provide this at the moment.
The requested Profile (gid=18) is not configured to be used for 'Profile' edit and view forms in its Settings.

[2015-07-17 16:58] shawnholt commented on #110
fyi, not able to repoen this or use extensions on the demo stack :(

[2015-07-17 18:07] JoeMurray commented on #110
Thanks, @shawnholt. We'll get back to you if we need more info.

[2015-07-17 18:43] kcristiano commented on #111
@rpamfil
I was able to do a test of an event payment.  Using CiviCRM 4.6.5, WP 4.2.2 and Grant Applications 4.6.

The IPN suceeded and the emails went out.

However, I did not overwite the civicrm core files as suggested in the README.md.  @JoeMurray Do you have a roadmap to use the new hooks that have been provided in https://github.com/civicrm/civicrm-wordpress/commit/411e1385a805fa89946d0e6ef97

[2015-07-18 11:01] pradpnayak commented on #110
Hi @shawnholt

The issue is more of configuration rather extension. This error usually occurs when the profile you trying to use in create mode is not configured as 'Standalone Form or Directory'.

Could you please check if 'Standalone Form or Directory' is checked on profile settings page?

Another note, Profile having more then one type are not allowed to be used as create/edit mode. So in your

[2015-07-18 17:30] pradpnayak commented on #111
I have updated some core file that included changes for https://issues.civicrm.org/jira/browse/CRM-16776.

@rpamfil could you try replacing the extension with new code base available at https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/archive/4.6.zip

[2015-07-19 18:54] shawnholt commented on #110
Hi @pradpnayak
thanks.  Again, the goal is to create a grant profile with mixed types.  This means, for example,
   * First, Last name (Individual)
   * Address (Contact)
   * Grant Status (Grant)

(with custom fields for those entities)

**From what I can tell this is what @JoeMurray says "should" work.**
I have confirmed 3 times that this is not possible (2x WP, once in Drupal.)
I have standalon

[2015-07-20 11:56] rpamfil commented on #111
Thank you gentlemen for the help and troubleshooting here. After upgrading to 4.6.5 and downloading the latest code from @pradpnayak, I am still getting this error and stack trace (with updated line numbers after the upgrades). In the next few weeks I will be doing some more testing on this site and trying to replicate this with a clean install. I'll report back then with more information. In the

[2015-07-20 12:07] kcristiano commented on #111
@rpamfil The way I am reading the notes, you would need to copy the contenst of the shortcode-wp directory (two directories assets and includes) into wp-content/plugins/civicrm

This is the main civicrm plugin directory and it has the assests and includes directories.  The extensions files will overwrite the existing ones and add shortcode functionality for Grants.

@JoeMurray Please advise if I h

[2015-07-20 13:13] Edzelopez commented on #111
@kcristiano Yes, that is correct.

[2015-07-20 14:36] JoeMurray commented on #22
Just to explain a bit more: the required total amount field is the amount requested in the default currency, while the optional amount requested field is in the original currency. If you are only working with a single currency, don't bother using the amount requested field.

[2015-07-20 14:36] #22 closed

[2015-07-20 15:42] #111 closed

[2015-07-21 13:13] pradpnayak commented on #110
Hi @shawnholt

Here is the explanation in more detail :-

1. Grant application extension allows to create profiles that includes Grant core and custom fields and even contact and individual/household/organization core and custom fields. This profiles can be used in Grant application form to store the details that may be required during submission of Grant from online.

2. CiviCRM also allows to us

[2015-07-21 14:55] shawnholt opened #114 "Wordpress unable to edit grant application"
I had previously been able to edit a grant application in WP.  Now trying the popup hangs.  I see on the console an error:
"Uncaught Cannot guess entity name for field_type=Grant" in wp-content/plugins/civicrm/civicrm/js/model/crm.uf.js
I naively added a hack to the "hack" by adding:
case 'Grant':
        return 'grant_1';
**and now it seems to work**
Poor "Grant" entity, seems to be the abandoned

[2015-07-21 15:02] shawnholt commented on #110
Ah - wonderful explanation Pradeep. I'm sorry to be so persistent.  now I understand some subtitles here. Profile form cannot follow a relationship (ie. grant->contact) which is an unfortunate limitation.

There is something a bit off that threw me off.
Usually when you have a mixed / unsupported type, the create option goes away: http://screencast.com/t/xL3oDRHf5
but it didn't here for grants: ht

[2015-07-21 15:25] JoeMurray opened #115 "WordPress enables use of Mixed Profile for create"
From another issue about profiles containing both grant and contact fields from @shawnholt:

There is something a bit off that threw me off.
Usually when you have a mixed / unsupported type, the create option goes away: http://screencast.com/t/xL3oDRHf5
but it didn't here for grants: http://screencast.com/t/u56Qgcoy .

Drupal the admin menu does work to remove for Grant: http://screencast.com/t/sV

[2015-07-21 15:32] JoeMurray commented on #110
1. I've created an issue for the WordPress problem wrt profile create not being disabled.

2. Could you suggest a better wording for the message?

3. Others have expressed an interest in having multiple tabs for a long application. Is that more what you are thinking about, rather than just two profiles on same form? The cost of that is significant - we were considering waiting for core team to dev

[2015-07-21 16:30] shawnholt commented on #110
For 1.+2. It needs to add "Create" to the message.
Message: "Cannot create, edit, search or view profiles with mixed record types."

Help: "Mixing record types (other than contact and individual) is only supported in a component or extension that can manage the relationships between the types.  Profiles Standalone, Create, Edit Search or View Mode cannot automatically create the relationship, but

[2015-07-21 20:48] JoeMurray opened #116 "Change the error message and add help to field"
1. Could you change the error message so that it includes 'Create':

Error Message: "Cannot create, edit, search or view profiles with mixed record types."

2. Could you find a good place to add the following help:

Help: "Mixing record types (other than contact, contact type (eg Individual), and contact custom subtype fields) is only supported in a component or extension that can manage the relat

[2015-07-21 20:51] JoeMurray commented on #110
Thanks for this, including the rant. The issue from the core team's perspective and a few of us 'core' extension developers is the effort to develop and maintain the software to enable a good forms experience in the three CMSes. I will pass on your message about Pods to relevant people like Tim, Coleman and Kevin Christiano. Do you know of something similar to CiviCRM Entity and Pods for Joomla!?

[2015-07-21 20:51] #110 closed

[2015-07-21 20:59] shawnholt commented on #110
Sorry, I don't speak Joomla.
I tried to get the pods guys excited about this but it didn't get very far.  https://wordpress.org/support/topic/work-with-api-and-remote-entities?replies=4 .  There are a couple of toolsets for custom wordpress post types that could potentially fit which I can share if you want to dig deeper down this path.

[2015-07-24 12:39] Edzelopez commented on #116
Joe, should I submit a PR to core for this?
What we can do is;

1. Don't display the create profile button when there is a mixed profile which isn't compatible.
2. Include the help message instead of the button as a help icon.
3. Include the error message if the user tries to hit the URL directly.

[2015-07-24 18:30] JoeMurray commented on #116
Can you send me a screen shot, marked up with how you would implement 2?

[2015-07-30 00:27] agileware opened #117 "Expose grant application page to anonymous users?"
Does the grant application page extension have the ability to allow anonymous users to access and fill out a grant application page? A quick search did not turn up any instructions and a scan of the available permissions did not turn up anything useful. I'm using CiviCRM 4.6 with Drupal 7.

[2015-07-30 10:05] pradpnayak commented on #117
Hi @agileware

Yes, Anonymous user can access and fill out a grant application page. There is no permission for turning off the access for a particular user role.

Thanks
Pradeep

[2015-07-30 22:50] agileware commented on #117
We didn't have CiviContribute enabled before, but enabling it and setting that permission made the grant application page available to anonymous users. Thanks for your help!

[2015-07-31 18:26] shawnholt opened #118 "Feature Request: Allow grant profile for search results"
Advanced search allows you to specify result columns using profiles.  This extension will let you create grant profiles.  it will not let you create search or search result type profiles for grant fields.

The use case for this is:
1. Grant application requires collecting several things to complete.
2. Created custom multi-select or checkbox fields for collecting info
3. Want to create search resu

[2015-08-05 05:31] Edzelopez commented on #116
![szoter_image](https://cloud.githubusercontent.com/assets/1990869/9078855/4e4d74f8-3b61-11e5-8cdf-1f6dcd00148a.png)

[2015-08-05 12:12] JoeMurray commented on #116
Let's disable button and display short error message on hover. (There is no UI pattern in CiviCRM for putting a help button there.)

[2015-09-14 21:10] rpamfil commented on #111
Just in case anyone else gets this mysterious error.
I discovered that the error had to do with the permissions of the anonymous user role in Wordpress (or lack thereof). Here is a useful thread on this topic: http://civicrm.stackexchange.com/questions/2988/problem-with-online-registration-after-moving-to-new-url/6411#6411

I am not sure why, in my previous testing, the problem only manifested whe

[2015-10-14 16:35] rpamfil opened #121 "extension needs to be updated to include fixes in CRM-17022"
When the extension is enabled, searching for grants with a filter for grant type, causes a DB error.
See stack trace below.
The fix for this is in the latest version of CiviCRM:
https://issues.civicrm.org/jira/browse/CRM-17022
[code]

[2015-10-14 16:45] JoeMurray commented on #121
Thanks, rpamfil. Which version of the extension were you using when you got this error?

[2015-10-14 16:46] rpamfil commented on #121
v1.4.1.

[2015-10-16 12:54] pradpnayak commented on #95
Fixed at https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/pull/122

[2015-10-16 12:55] pradpnayak commented on #98
Fixed at https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/pull/122

[2015-10-16 12:55] #98 closed

[2015-10-21 12:23] Edzelopez commented on #114
Hi @shawnholt
When I try to edit a grant application page in 4.6.9, it just ends up opening in another window instead of the usual popup. I tried this from the grant dashboard. Could you please elaborate more on the error since I cannot replicate it. (Although, the fix does make sense since grant entity is obviously ignored).

[2015-10-21 12:23] Edzelopez commented on #121
This is now included.

[2015-10-21 12:23] #121 closed

[2015-10-21 12:25] Edzelopez commented on #95
Unfortunately, we tried using a custom version of the file in our extension and using hooks but none of the methods seemed to work, which left us with the final resort of providing a file which could be replaced :(

[2016-02-29 10:58] pradpnayak commented on #114
@shawnholt are you still facing same problem?

[2016-02-29 14:46] shawnholt commented on #114
No we decided not to use Grant functions.  Sorry

[2016-03-02 15:02] JoeMurray commented on #116
Please backport to 4.6 only.

[2016-03-02 15:03] JoeMurray commented on #115
Please backport to 4.6 branch.

[2016-03-02 15:05] JoeMurray commented on #114
Couldn't replicate.

[2016-03-02 15:05] #114 closed

[2016-03-02 15:14] JoeMurray commented on #95
So we are currently doing pro bono implementation of page run hook for 4.7 in order to allow this feature request to be implemented without an override. Dana - any chance for some money for this? We're investing about a day's effort, but will take what you can send our way.

[2016-03-10 13:52] Edzelopez commented on #117
New permission for submitting grant application added in latest version

[2016-03-10 13:52] #117 closed

[2016-03-10 13:52] Edzelopez commented on #95
Implementation done in latest version.

[2016-03-10 13:52] #95 closed

[2016-03-10 13:53] Edzelopez commented on #118
Estimate: 24hrs.

[2016-03-10 13:53] #118 closed

[2016-03-10 18:08] JoeMurray commented on #118
Sorry that we did not respond to your feature request inquiry sooner. Best wishes.

[2016-03-11 12:52] pradpnayak commented on #116
Fixed at
https://github.com/civicrm/civicrm-core/pull/7957
https://github.com/civicrm/civicrm-core/pull/7958

[2016-03-11 12:52] #116 closed

[2016-03-11 12:53] pradpnayak commented on #115
Fixed at
https://github.com/civicrm/civicrm-core/pull/7957
https://github.com/civicrm/civicrm-core/pull/7958

[2016-03-11 12:53] #115 closed

[2016-04-05 14:09] danaskallman opened #124 "WP Shortcode Civi 4.7"
I tested the latest version of this extension with WP 4.4.2 and CiviCRM 4.7.4 and it's working well on the CiviCRM parts. The only part I can't get to work is the shortcode. I checked permissions and they all seem to be correct for profile fields to be viewed. When I add a shortocde to a page and go there is says:

`You do not have permission to access this content.`

Even when logged in as site a

[2016-04-05 15:13] JoeMurray commented on #124
Could you provide a bit more detail on the fields in the profile? Also, there are now permissions on financial type in core, so could you check which financial type was being used for the grant application, and whether the user had permissions to view and edit it?

[2016-04-05 15:39] danaskallman commented on #124
I am just using default profile fields now, so First Name, Last Name, Employer and Email, plus amount requested from Grants.

In the Grant Application I don't see where I set the Financial Type. Currently there is no financial type for grant. I can create a new financial type, but how do I then assign to the grant application?

[2016-04-06 02:01] Edzelopez commented on #124
HI @danaskallman,

Could you please make sure you have the 'Submit Grant Applications online' permission? It's a new core permission that has been added via our extension. Also, did you replace the files under includes with the ones under shortcode-wp folder?

[2016-04-06 11:21] kcristiano commented on #124
@Edzelopez Just looking at the last comment - does this extension still require replacement of Core files?

[2016-04-06 11:25] Edzelopez commented on #124
Unfortunately, yes, for Wordpress. There is just one core file which needs to be replaced, which is under the shortcode-wp directory.
The file in CiviCRM that needs to be replaced is wp-content/plugins/civicrm/includes/civicrm.shortcodes.php

[2016-04-06 20:29] kcristiano commented on #124
I know that I spoke with Joe about this.   For me that makes this extension unusable for WP.

[2016-04-06 20:32] JoeMurray commented on #124
Agreed. We need to use a method that avoids any overwriting of files. Can you remind us here what the issue was with getting core team to make it possible for an extension to define new shortcodes?

[2016-04-06 22:10] kcristiano commented on #124
Joe I had thought that Coleman was addressing this.  Did this https://github.com/civicrm/civicrm-wordpress/commit/411e1385a805fa89946d0e6ef979aca427a82be2  help at all?

[2016-04-07 05:34] Edzelopez commented on #124
@kcristiano that did help, we were able to remove the shortcode selection code that was overridden [https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/commit/4cb13adc2a9690ab95b7ed2094939924f2c8c46b](here)

The part that remains in core though is stuff like [https://github.com/civicrm/civicrm-wordpress/blob/master/includes/civicrm.shortcodes.php#L681](this). Unless there is a way

[2016-04-07 11:08] kcristiano commented on #124
It would be helpful to open a JIRA issue and tag it with WordPress.   We
should look at how this calss could be extended or at least allow extension
authors to filter the list of defined shortcodes.   Christian Wach
refactored this and we can reach out to him to take a look.

On Thu, Apr 7, 2016 at 1:34 AM, Edsel Roque Lopez <notifications@github.com>
wrote:

[2016-07-22 15:22] jmcheung opened #125 "500 Error on Grants Dashboard after installing extension"
hi guys,

Dev environment: - Wordpress 4.5.3, CiviCRM 4.6.19, grantapplications extension v 1.4.2

Once we install this extension the Grants dashboard breaks. I actually get a 500 error on this page: -
/wp-admin/admin.php?page=CiviCRM&q=civicrm/grant&reset=1

Can you help please.
Jon-man

[2016-07-22 15:38] JoeMurray commented on #125
Edsel, can you review for Monday? I'm wondering if there is something here with base_url on jQuery callback or something.

[2016-07-27 14:45] jmcheung commented on #125
hi Edsel,

have you been able to look at this?

thank-you,
Jon-man

[2016-07-29 18:36] JoeMurray opened #126 "Grant Search issue due to extension"
Jon-man noted today that our extension still causes https://issues.civicrm.org/jira/browse/CRM-17022. Please diagnose and address, interacting via chat.c.o if necessary.

[2016-07-29 18:39] JoeMurray commented on #125
Pradeep, could you look into this? Thx.

[2016-07-30 08:21] Edzelopez commented on #125
Hi @jmcheung,

Sorry for the delay, somehow this slipped off my radar. I have fixed the issue and created a new release for 4.6.x. Please download it from here: https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/releases/tag/v1.4.3

Thanks!

[2016-08-01 10:42] jmcheung commented on #126
hi Joe, as requested. I'm just posting a comment so I get updated

[2016-08-01 11:09] Edzelopez commented on #126
Hi @jmcheung,

I've fixed this issue and released v1.4.4.(https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/releases/tag/v1.4.4)

[2016-08-01 11:46] jmcheung commented on #126
hi @Edzelopez

Many thanks - that has fixed it.

Jon-man

[2016-10-04 12:35] balleyne opened #127 "Custom field data won't save on Profile in Grant Application Page"
I've created a Set of Custom Fields for Grants. I can save entries to custom fields successfully when creating a new Grant through the WordPress/CiviCRM backend. But not through my Grant Application Page.

I've created a Grant Application page, using three Profiles. One for the "submit on behalf of an organization", one with additional fields on the applicant (individual contact), and one profile

[2016-10-09 07:44] balleyne commented on #127
I don't quite know what I'm doing enough to create a proper pull request, but I fixed it on my installation with the following patch to CRM/Grant/Form?Grant/Confirm.php:
`703d702
<         CRM_Core_DAO::$_nullArray,`

This was on CiviCRM 4.7.10. Seems to be working fine now, but I don't know if that breaks anything for older installations or something.

[2016-10-10 14:19] balleyne opened #128 "Rich Text Editor field values displayed as escaped HTML source on confirmation page"
When I add a custom field with Rich Text Editor input to a profile used on the grant application page, on the preview/confirmation page (i.e. before submitting), the text gets displayed as escaped HTML (e.g. "`<p>the text</p>`"), per the following screenshot:
![screenshot from 2016-10-10 10 16 25](https://cloud.githubusercontent.com/assets/71122/19239166/ce97a6ae-8ed2-11e6-8572-8866e7982fc0.png)

[2016-10-21 23:54] robbrandt commented on #121
Hi.  This is happening on our CiviCRM 4.6.9 install with v 4.2 of this extension.  Is there a something I could do to backport this?  I don't see a commit associated with this issue.  We hope to avoid doing an update on the site until December.

[2016-10-24 05:22] Edzelopez commented on #121
Hi @robbrandt

This has been fixed in v1.4.4 version of the extension. Please update it by downloading the extension from here: https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/releases/tag/v1.4.4

Thanks,
Edsel

[2016-10-24 06:06] robbrandt commented on #121
Thanks.  For some reason I thought that was for 4.7 only.  I see now it's OK for 4.6.  I'll try it tomorrow.

[2016-10-24 09:03] Edzelopez commented on #128
Hi @balleyne,

Thanks for pointing out this improvement. I have fixed it and it will be available in the next release.
Here is the patch if you want to apply it to your instance: https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/commit/062960477db4395bfabdbac0b87c18c3428d01fa

[2016-10-24 09:04] #128 closed

[2016-10-24 09:29] Edzelopez commented on #127
Hi @balleyne

I managed to replicate the issue too. I have submitted a fix, but will be available on next release. It seems like you have already managed to fix the issue, but just incase, here's the commit: 8ddd1ebf44bac12cbcac582af7590b55f6586dda

[2016-10-24 09:30] #127 closed

[2016-10-24 09:30] #126 closed

[2016-10-24 09:31] Edzelopez commented on #125
@jmcheung closing this issue, please reopen if the error persists...thanks!

[2016-10-24 09:31] #125 closed

[2016-10-24 17:21] robbrandt commented on #121
FYI, this release presents itself as 1.4.2 in the UI.  Confusing about what version I was running until I checked the code:
https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/blob/v1.4.4/info.xml

[2016-10-24 21:00] robbrandt opened #129 "How to edit a draft version?"
If I've submitted a draft application, how do I go back and finish it and submit it?  I see no controls for doing so.  Or am I misunderstanding the purpose of having a draft copy?  I presumed it was to allow an applicant to complete part of the application now, and complete it later.

[2016-10-25 04:58] Edzelopez commented on #121
Thanks! I'll update that ASAP.

[2016-10-25 09:52] Edzelopez commented on #129
Hey @robbrandt

You can find your draft copy on the User's contact dashboard. the URL looks something like this: civicrm/user?reset=1

NB. You will need to update your display preferences first, to include grants under Administer > Customize Data and Screens > Display Preferences > Contact Dashboard section.

(There might still be an issue where the grants do not appear on the dashboard, in case t

[2016-10-26 20:38] robbrandt opened #130 "Hide Grant amount"
Feature Request
Some of our grants are of an open dollar amount to be decided by the judging committee.

Could there be a checkbox to hide the dollar amount on the application?  Or simply hide it if the amount is 0.00?

[2016-10-27 10:50] Edzelopez commented on #130
Hey @robbrandt

Sounds like a good idea to hide the amount if not specified. I have implemented a quick fix, although I will be refactoring this for a future release. You can apply a patch for now using the commits 836680283208a7dcab9a8c96d80aa5de05b8defc and 53f0e5dec804fd8f6d381fd7918dc6d289984cc1

HTH,
Edsel

[2016-10-31 13:36] #130 closed

[2016-10-31 13:36] #129 closed

[2016-12-05 20:00] robbrandt commented on #130
Thanks.  This needs to be hidden in the email receipt as well.  Thanks.  Everything else looks good.

[2016-12-06 02:17] robbrandt opened #131 "Using Grant profiles to search"
We are using this extension to collect grant applications.  Very helpful.

We would like to build a UI that allows evaluators to search/view applications using profiles.  The grant applications use custom fields created for Grants.  However when I attempt to bring up a profile to search - as I would other profiles - I get this error:

Profile search, view and edit are not supported for Profiles wh

[2016-12-06 12:37] Edzelopez commented on #131
Hi @robbrandt

Unfortunately, this is something not supported by CiviCRM itself. There is no way for one to use a profile configured for gathering info for components to be used as a search application. Only profiles which have fields solely for Contacts and Activities are supported by the listings feature.

[2016-12-06 12:46] Edzelopez commented on #130
Thanks for the heads up, will include that in our next release.

[2016-12-06 12:46] #131 closed

[2017-07-26 13:22] SandyEllingson commented on #124
I am having a similar problem. I am using WP version 4.8, Civicrm Ver 4.7.16 and Grant Applications version 1.5.1.  When I try to use the shortcode I get the same error about not having permissions, even when logged in as administrator and the error about the shortcodes: Warning: Invalid argument supplied for foreach() in /home/som/www/www/wp-content/plugins/civicrm/includes/civicrm.shortcodes.php

[2017-07-26 13:30] Edzelopez commented on #124
Hi @SandyEllingson,

Just making sure you have replaced the civicrm.shortcodes.php file with the one under shortcode-wp/includes in this extension. Also, you will need the  'Submit Grant Applications online' permission for your administrator role checked.

[2017-07-26 13:54] SandyEllingson commented on #124
I will try that. I hadn't done anything since the post was almost a year old and this is my first time using GitHuB so I wanted to make sure that anything I grabbed was correct.

[2017-07-26 15:07] SandyEllingson commented on #124
Thank you that seemed to work.

[2017-07-28 06:34] lathem opened #132 "Failure to install on CiviCRM 4.7.22/Wordpress 4.8"
When attempting to install the Grant Applications extension, I get the following error:

CRM_Exception: Could not find the SQL file. in /var/www/dearproject.org/wp-content/uploads/civicrm/ext/biz.jmaconsulting.grantapplications/CRM/Grantapplications/Upgrader/Base.php on line 259

I checked, and the sql files are indeed present, so I'm not sure where to go from here.

My system is a brand new insta

[2017-07-28 07:18] Edzelopez commented on #132
Hi @lathem

The extension currently only supports installations upto 4.7.14. However, for a quick fix, replacing
CRM_Utils_File::sourceSQLFile(CIVICRM_DSN, $smarty->fetch($file), NULL, TRUE);

With

CRM_Utils_File::sourceSQLFile(CIVICRM_DSN, $file);

should get the installation SQL picked up by CiviCRM.

However, I presume there might be other SQL errors while installing since CiviCRM has changed

[2017-07-29 03:44] lathem commented on #132
Thanks for your super fast reply, @Edzelopez
Unfortunately, it kind of raised more questions than it answered.  I made the change at line 259 of base.php  as you suggested, as just like you predicted, it fails because of SQL errors.

So, as you said, I executed the SQL commands one at a time, and I've pasted in the output I got.  I'm not a good enough SQL whiz to spot what's happening, though.   S

[2017-07-30 14:07] JoeMurray commented on #132
Let's update this with a new release that addresses concerns above.

[2017-07-31 02:43] lathem commented on #132
Just wanted to thank you guys for your rapid responses and actually caring about this issue.  I work with some big proprietary medical records stuff, and I _wish_ their (very expensive) tech support was even a quarter as good as you.

[2017-07-31 12:36] Edzelopez commented on #132
@lathem you're welcome!

I am working on a new release and will update you when it is ready shortly.

[2017-08-01 12:32] Edzelopez commented on #132
Hi @lathem,

I have added a [pre-release](https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/releases/tag/v1.5.2) for 4.7.22. We would appreciate it if you could let us know how it works for you and report any bugs if found.

Thanks!

[2017-08-02 21:16] lathem commented on #132
Hi @Edzelopez and @JoeMurray --

Pardon taking a couple days to get back on this-- went ahead and dropped your pre-release into my 4.7.22 install and it seems to be working as expected.

I did have a problem with a wordpress plugin (Justified Gallery) throwing a javascript namespace error problem when selecting profiles to add to the grant application page, but when I disabled that plugin, everyth

[2017-08-03 01:52] JoeMurray commented on #132
Great!

On Aug 2, 2017 5:16 PM, "lathem" <notifications@github.com> wrote:

[2017-09-07 06:56] horllste opened #133 "grantapplications installation error"
** * This extension enhances profile creation for Grants. * * * Copyright (C) 2012 JMA Consulting * * This program is free software: you can redistribute it and/or modify * it under the terms of the GNU Affero General Public License as * published by the Free Software Foundation, either version 3 of the * License, or (at your option) any later version. * * This program is distributed in the hope t

[2017-12-03 09:21] andrimont commented on #133
Hello there is the same installation error on Drupal.

Could not find the SQL file.

The backtrace gives us this
`#0 /var/data/sites/photo/public_html/sites/all/modules/civicrm/CRM/Admin/Form/Extensions.php(190): civicrm_api3("Extension", "install", (Array:1))
#1 /var/data/sites/photo/public_html/sites/all/modules/civicrm/CRM/Core/Form.php(447): CRM_Admin_Form_Extensions->postProcess()
#2 /var/dat

[2017-12-05 15:05] Edzelopez commented on #133
Thanks for this report @andrimont and @horllste , I will look into it.

[2017-12-07 14:16] Edzelopez commented on #133
Hi @andrimont and @horllste

I have added a [pre-release](https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/releases/tag/v1.5.2) for the new version which fixes this. We would appreciate it if you could let us know how it works for you and report any bugs if found.

[2017-12-29 16:59] andrimont commented on #133
Hello Edzelopez,
Thank you ! The instalation of the pre-release seems fine. One detail : as it seen as a 1.5 version, the refresh in Civi gives an advise to upgrade to the latest version
:

![screenshot 2017-12-29 17 57 03](https://user-images.githubusercontent.com/19648093/34442357-d86f4a44-ecc1-11e7-9107-e1c1372be44b.png)

Regards.

Andrimont

[2018-01-02 12:58] Edzelopez commented on #133
Thanks for the feedback @andrimont!
We are working on fixing a few minor bugs, and will release a stable version soon, which will remove the upgrade message you are currently shown on the extensions page.

[2018-01-02 12:58] #133 closed

[2018-05-14 18:53] JoeMurray opened #134 "refactor to remove core overrides"
Please look at effort to refactor to remove core overrides.

[2018-05-14 18:55] #132 closed

[2018-07-04 00:25] tanyabouman opened #136 "RichTextEditor fields not recognized as filled in"
After updating to version 1.6, I was unable to submit a grant application that had required RichTextEditor fields.  Even though I had filled in those fields, it still gave a notice that those fields were required and would not let me submit it.

To solve the problem, I replaced definition of [grantapplications_civicrm_validate ](https://docs.civicrm.org/dev/en/latest/hooks/hook_civicrm_validate/)

[2018-07-04 18:28] monishdeb commented on #136
Thanks @tanyabouman for raising this issue, which has compelled me to compare the 4.7 branch with master and 5.0 branch, so to bring in the 4.7 compatible fixes in current branch that were missed out. And after cherry-picking those commits, I have merged then first to 5.0 and then in master and here's the PR - https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/pull/137

Can you p

[2018-07-06 02:00] tanyabouman commented on #136
I updated to the latest code from the master branch, and I am getting an error when I submit the form.
`DB Error: constraint violation`

Previously, I was getting a 500 error upon submission of the form, but it still successfully recorded the submission.  Now the submission isn't going through at all.  I don't really know if the update is causing a new problem, since there was an existing problem

[2018-07-06 06:06] monishdeb commented on #136
@tanyabouman after updating the code, can you try again after re-login (which clear the cache and drops the old DB state) to your Backdrop site?  I checked on BackDrop CMS 4.9.7 + Civi 5.2.2 and I wasn't able to replicate the DB error. If you are still getting the DB error, can you please share the backtrace here from CiviCRM configlog? To know the source of this issue.

[2018-07-06 13:18] tanyabouman commented on #136
I'm still getting the error.  This is from the ConfigAndLog file.
[code]

[2018-07-16 13:09] monishdeb commented on #136
Hi @tanyabouman

 Sorry for the delay. I have fixed the issue and updated the master branch. Can you please check the latest code of master branch?

Thanks!

[2018-07-17 20:41] tanyabouman commented on #136
Yes, that solves the problem, so that the submission now works.

[2018-07-19 12:00] monishdeb commented on #136
Great. Thanks for your feedback. Closing this issue now.

[2018-07-19 12:00] #136 closed

[2018-08-20 16:18] tanyabouman opened #138 "Email address not stored"
I have a grant application page which takes the email address of the applicant.  On the confirmation page, the email shows up properly.  However, in the CRM, it gets stored as "1", rather than the actual email address.  The confirmation email also attempts to send to 1@[mydomain.com].

The grant application sends two individual contact email addresses in $params, email-Primary and email-1, to crea

[2018-08-20 18:33] Edzelopez commented on #138
Thanks for the report @tanyabouman!
We will take a look at it and provide a fix.

[2018-08-29 23:30] robbrandt opened #139 "Error on Contact Dashboard when Grant Applications enabled"
I am newly updated to CiviCRM 5.4.1, and the most recent Grant Applications release.

When I try and access the Contact Dashboard at https://domain.org/civicrm/user?reset=1
I get this error:

Fatal error: Call to a member function getTemplateFileName() on null in /home/crm/public_html/sites/all/ext/biz.jmaconsulting.grantapplications/grantapplications.php on line 365

I think this existed prior to

[2018-08-31 12:43] Edzelopez commented on #138
Hi @tanyabouman

I've got a fix ready for this and will release a new version shortly.

[2018-09-12 18:39] jmcclelland opened #140 "onbehalf of setting seems to be ignored"
We have a grant application page that is configured to both allow users to submit an application on behalf of an organization (is_organization) and we have selected the option to force this to happen (is_for_organization).

On the grant application page, the on behalf of profile is properly displayed, however, when submitted the information is ignored. The grant is assigned to the contact.

I fixe

[2018-09-12 18:46] monishdeb commented on #140
@jmcclelland thanks for notifying this issue. It might be the case that this was missed while doing 4.4 to 4.7 migration. Can you send a PR for that fix? and I'll will be happy to review and merge :)

[2018-09-12 19:42] jmcclelland commented on #140
Thanks for the quick feedback, PR submitted.

[2018-09-12 19:50] monishdeb commented on #140
Ok on basis of compare link I have created a PR https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/pull/141 is there anything else you need to add/change? or this change in condition will fix this issue?

[2018-09-12 20:57] jmcclelland commented on #140
That looks great - thanks! And sorry, I didn't hit submit on my PR...

[2018-09-13 10:50] monishdeb commented on #140
No problem. I have merged the PR. closing this issue now.

[2018-09-13 10:50] #140 closed

[2018-09-24 16:38] JoeMurray commented on #124
@Edzelopez ping

[2018-09-24 16:40] JoeMurray commented on #124
Closing as duplicate of https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/issues/134

[2018-09-24 16:40] #124 closed

[2018-09-24 16:43] JoeMurray opened #142 "page not found"
After installing, Grants > New Grant Application Page gives unfriendly Page Not Found error http://jma.staging.autismontario.com/civicrm/admin/grant/apply?reset=1&action=add possibly due to D8??

[2018-09-24 16:51] JoeMurray opened #143 "install error"
Trying to install on cividemo.jma I got Extension Upgrade Failed
DB Error: already exists

I tried uninstalling grant programs (which was disabled but installed, then reran, and got similar error https://gist.github.com/JoeMurray/213287ef08181ac5623b9c93f2306395

[2018-09-24 17:22] JoeMurray opened #144 "Update breadcrumb"
On New Grant on dmaster, the breadcrumb shows CiviGrant Dashboard. That's good. On jma.staging.autismontario.com New Grant, the breadcrumb is not updated properly. Not sure if this due to Grant Applications all the time, or D8.

![2018-09-24_13-19-17](https://user-images.githubusercontent.com/300943/45967720-e043be80-bffc-11e8-8c0a-4e87e3fee7f5.png)

[2018-09-25 09:46] Edzelopez commented on #142
For D8, you will need to flush caches after installation of any CiviCRM extension, in order for the menu paths to resolve to their callback functions.

[2018-09-25 09:46] #142 closed

[2018-10-04 20:41] robbrandt commented on #139
Is it possible for you to show the fix so I can patch up my installation?  We want to make the dashboard live but we can't disable this extension.

[2018-10-05 10:30] Edzelopez commented on #139
Hi @robbrandt

Sorry for the delay on this. Some more compatibility issues were noted with the 5.x version, which delayed the release of the new version. Here is a patch you can apply: https://gist.github.com/Edzelopez/d13e88fcbc20e41030d7d9ab3a40bc90

[2019-01-14 19:41] robbrandt opened #145 "missing email value in Thank You"
On our Grant Application Thank You pages, we are getting this message:

Your grant application has been sent for processing. Please print this page for your records.
An email receipt has also been sent to .

There is no email address included at the end.  The template shows that the value would be $email.

Both the logged in user and the person designated as a cc in the configuration are getting t

[2019-01-14 21:14] JoeMurray commented on #145
Sorry about this problem, @robbrandt . Could you provide the version of the extension you're using, and the CMS and its version? Thanks!

[2019-02-19 19:17] robbrandt opened #146 "Better subject for receipt email?"
Enhancement request here.

We have a variety of "grants" we administer.  All of the send a receipt (cc'ed to the manager) with the subject "Grants - Receipt".  I don't see anywhere to change this.

Can this be altered so that it includes the title of of the grant?  For example "Graduate Student Award - Applicaiton Receipt".

[2019-02-22 15:19] Edzelopez commented on #146
Hi @robbrandt ,

You can alter the message subject for the receipt by navigating to Administer > CiviMail > Message Templates and clicking on the Grants Receipt message template under the System Workflow Messages tab. However, the grant title does not seem to be an available token. It's a good feature request though, to allow grant tokens to be specified in the receipt. @JoeMurray should we work o

[2019-02-22 18:05] JoeMurray commented on #146
We could add this for USD$125. Please reopen if you can fund this.

[2019-02-22 18:05] #146 closed

[2019-04-01 11:46] gnunicorn commented on #138
@Edzelopez Is this release still upcoming? Used your brilliant work, just do discover that now I can't contact the applicants because it didn't save their E-Mail-Address. Bummer.

Otherwise, could you put the patch somewhere? Or do I have to patch the core for this to work?

Thanks heaps!
Your work and contributions are highly appreciated!

[2019-04-01 20:11] gnunicorn commented on #138
For the record, the following patch fixes it for me (also contains some logging info):

[code]

[2019-07-17 20:08] ddoligalski opened #147 "Shortcodes w Civi 5.0"
I am not having success getting the shortcode recognized with Civi 5.13.6.  It looks like some of the shortcode processing may have changed.   Any thoughts would be appreciated.  -Dave

[2019-07-17 20:22] MegaphoneJon commented on #147
@ddoligalski I believe that @josephlacey has rewritten this extension for the latest versions of CiviCRM.  He's "jlacey" on Mattermost.

[2019-08-01 17:38] JoeMurray commented on #147
@Edzelopez could you look into this in next day or two?

[2019-08-01 17:38] JoeMurray commented on #145
@Edzelopez please look into this in next few days.

[2019-08-01 17:40] JoeMurray commented on #139
@Edzelopez please fix or close in next little while. Thx.

[2019-08-01 17:41] JoeMurray commented on #138
@Edzelopez please commit fix and close in next few days. Thx.

[2019-08-01 17:43] JoeMurray commented on #134
@Edzelopez please review status on this in next several days.

[2019-08-01 18:40] MegaphoneJon commented on #134
@JoeMurray @Edzelopez Check in with @josephlacey?  My understanding is that he's rewritten this extension for recent versions of Civi.

[2019-08-01 19:15] JoeMurray commented on #134
Asked him about this at https://chat.civicrm.org/civicrm/pl/ij7w8crr4jygmnt6y5wsyh9sfa

[2019-08-01 20:06] josephlacey commented on #147
As noted in Mattermost, I've upgrade Grant Programs, not Grant Applications.

[2019-10-01 19:13] robbrandt commented on #139
Hi.  I have been remiss in following up on this issue.

The patch above doesn't really solve the issue.  I applied it and it worked, but then it failed again.  Something isn't consistent.  So we still can't use the Contact Dashboard.  Exactly the same error as above when it fails.

[2019-10-08 17:45] robbrandt commented on #139
Correction, the patch does work.  My test environment had the extension directory configured as pointing to the live extension directory.  So changes to extensions in the test environment weren't actually seen by CiviCRM.

[2019-10-08 17:46] robbrandt commented on #139
Issue is not really closed though because Grant Applications still won't show in the Dashboard, this just avoids the query.

[2019-12-15 19:29] spexb opened #148 "Error when leaving Save as Draft Enabled? blank"
When I leave the checkbox for _Safe as Draft Enabled?_, I get an error message:
![grant application](https://user-images.githubusercontent.com/33966222/70867774-8441be80-1f4f-11ea-9ca6-3491adb5bc3c.png)

CiviCRM 5.20.0
Grant Application Pages 1.6.1

[2019-12-15 23:37] JoeMurray commented on #148
Edsel, could you diagnose and address this issue with saving a draft application. @spexb could you indicate what version of CiviCRM and Wordpress/Drupal/Joomla you are using?

[2019-12-16 16:58] spexb commented on #148
I'm using WordPress 5.3.1.

[2019-12-17 14:16] Edzelopez commented on #148
Hi @spexb

I've fixed this in my latest commit. Please let me know if you have any questions about applying the patch [here](https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/commit/ff0b97f9ad2e0ce1bfe2992ab2b50e32e2160f8a). Thanks!

[2019-12-17 14:23] Edzelopez commented on #147
@ddoligalski sorry for the extremely late comment. Do you still have issues with this?

[2019-12-17 14:44] JoeMurray commented on #148
If @spexb confirms this fix we should tag a new release.

[2019-12-18 13:15] shohidgmcvo opened #149 "Registering a CiviEvent with this enabled on 5.20 gives WP 500 error"
Hi,

The site is on Wordpress 5.3. PHP 7. CiviCRM 5.20. the extension version it's on is 1.6.1.
When attempting to sign up for an Event (event type: Training) and this extension is enabled in the background, the confirmation page of the event gives a 500 error "There has been a critical error on your website".

This all used to work before upgrading from 5.13.4. Please can you look into this.

Tha

[2019-12-18 16:58] spexb commented on #148
Yippeee! It works. Gracias beaucoup!

[2019-12-18 17:36] spexb commented on #148
Just the Grants|Dashboard shows:
_"There has been a critical error on your website. Please check your site admin email inbox for instructions."_

[2019-12-18 19:47] JoeMurray commented on #149
Could you provide relevant messages from the CiviCRM, PHP or Apache logs that led you to suspect it was this extension? Just FYI https://www.westhost.com/knowledgebase/display/WES/What+Is+A+500+error

Or does it work when the extension is disabled, then enabling the extension causes this error? That's unexpected, because this extension would not normally be loaded when serving an event registratio

[2019-12-19 10:47] shohidgmcvo commented on #149
Hi @JoeMurray

Thank you for responding. The confirmation page only shows when this extension is disabled. When I enable this extension, it shows the 500 error on the confirmation page.

This is the debug.log file:

[19-Dec-2019 10:42:34 Europe/London] PHP Notice:  Undefined offset: 0 in /public_html/wp-content/plugins/files/civicrm/extensions/biz.jmaconsulting.grantapplications/CRM/Core/BAO/UFGro

[2019-12-19 11:07] Edzelopez commented on #149
Hi @shohidgmcvo

This extension hasn't yet been made compatible with the 5.20 version of CiviCRM, given that it is so recent. I will however work on a patch that you can use with your version.

[2019-12-19 11:11] shohidgmcvo commented on #149
Thank you @Edzelopez

If you can write the patch for 5.19.4, that would be great.

Kind regards,

Shohid

[2019-12-23 08:24] shohidgmcvo commented on #149
Hi @Edzelopez

Is there an update on this patch for 5.19.4? Thanks.

Shohid

[2019-12-23 12:49] Edzelopez commented on #149
Hi @shohidgmcvo,

The patch is available here: https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/commit/fbae743522e34061fbfcb9c500f8cf1a588d57a3

[2019-12-23 12:50] Edzelopez commented on #148
Can you try applying the patch here https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/commit/fbae743522e34061fbfcb9c500f8cf1a588d57a3 ?

[2019-12-23 13:11] shohidgmcvo commented on #149
Hi @Edzelopez

Thank you! I will apply the patch and let you know the outcome. Thanks again.

Shohid

[2020-01-09 20:55] seamuslee001 commented on #149
We had a report in from gmcvo the the patch has worked closing this issue

[2020-01-09 20:55] #149 closed

[2020-03-04 21:27] lcarterBOT opened #150 "Compatibility issue with Civi 5.22.x?"
A client just upgraded their Civi to 5.22.1, and accessing the Grants Dashboard yields this error:

Fatal error: Uncaught Error: Call to undefined method CRM_Grant_BAO_Query::getSearchFieldMetadata() in /www/www/wp-content/plugins/civicrm/civicrm/CRM/Grant/Form/Search.php:264 Stack trace: #0 //www/www/wp-content/plugins/civicrm/civicrm/CRM/Grant/Form/Search.php(273): CRM_Grant_Form_Search->getEnti

[2020-03-05 14:07] Edzelopez commented on #150
Hi @lcarterBOT

Thanks for the report! I have released a version for 5.22.1. This should fix the issue you are having right now and address multiple bug fixes too.

[2020-03-05 14:12] Edzelopez commented on #148
Closing this since issue has been addressed.

[2020-03-05 14:12] #148 closed

[2020-03-05 14:13] Edzelopez commented on #147
Closing this, please reopen if necessary.

[2020-03-05 14:13] #147 closed

[2020-03-05 14:14] Edzelopez commented on #143
Unable to replicate, closing this.

[2020-03-05 14:14] #143 closed

[2020-03-05 14:16] Edzelopez commented on #138
This should be fixed now. Please reopen if necessary.

[2020-03-05 14:16] #138 closed

[2020-03-09 05:49] #150 closed

[2020-03-12 03:34] agileware-justin opened #151 "Grant Applications replaces all the default CiviCRM shortcodes instead of just adding the specific Grant Application shortcodes"
Grant Applications replaces all the default CiviCRM shortcodes instead of just adding the specific Grant Application shortcodes. See file https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/blob/master/shortcode-wp/includes/civicrm.shortcodes.php

I think this PR on the Veda's GDPR extension demonstrates a different method to add a new WordPress shortcode, see https://github.com/v

[2020-03-12 04:31] agileware-justin commented on #151
Actually, I'll close this as it would be addressed by #134

[2020-03-12 04:49] Edzelopez commented on #151
Thanks for the info Justin!

[2020-03-12 05:28] agileware-justin commented on #139
I actually think this issue is a blocker to allowing people to use an on-line grant submission process. There is no way to allow a user to view their own grants or resume a draft grant - as this function would be provided by the Contact Dashboard.

[2020-03-12 10:17] JoeMurray commented on #151
Thanks for this report about an issue due to change in WP editor. We will be addressing this in April.

[2020-03-12 10:19] JoeMurray commented on #151
Reopening as we're not confident that solving #134 will completely resolve this issue.

[2020-03-13 16:45] sunnycs121 commented on #138
This is occurring in version 1.6.2

[2020-04-09 15:35] JoeMurray commented on #138
Can you provide your CiviCRM version and CMS and CMS version?

[2020-07-20 12:50] Edzelopez commented on #151
@agileware-justin this should now be addressed in our latest release: https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/releases/tag/1.7

[2020-07-20 12:50] #151 closed

[2020-07-20 12:50] Edzelopez commented on #145
This should be addressed in our latest release: https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/releases/tag/1.7

[2020-07-20 12:50] #145 closed

[2020-07-20 13:06] Edzelopez commented on #139
This should now be addressed in our latest 1.7.1 release

[2020-07-20 13:08] Edzelopez commented on #134
We've removed quite a bit of the core overrides. The remaining part is much more complicated and will require hooks to be added in core.

[2020-07-23 04:54] MegaphoneJon opened #158 "Upgrade from 1.7.0 to 1.7.1 fails"
It's line 29 in `biz.jmaconsulting.grantapplications/grantapplications.php`.  Because of how this SQL is run I can't see the whole SQL statement, but I can see that I'm getting an "already exists" error on one of the `INSERT` statements.

[2020-07-23 07:36] Edzelopez commented on #158
Hey @MegaphoneJon

Yes, we've noticed that and will be pushing a new release out soon. Sorry for the inconvenience!

[2020-07-26 07:33] Edzelopez commented on #158
@MegaphoneJon the new release should solve this. Closing now, please reopen if necessary!

[2020-07-26 07:33] #158 closed

[2020-07-26 07:34] Edzelopez commented on #139
This should now be fixed

[2020-07-26 07:34] #139 closed

[2020-07-26 07:38] Edzelopez commented on #144
This looks like a D8/DE customization. I think we have fixed it.

Here is how it appears now.

<img width="737" alt="Screenshot 2020-07-26 at 1 07 43 PM" src="https://user-images.githubusercontent.com/1990869/88474084-090ea500-cf41-11ea-8725-176089084ba8.png">

[2020-07-26 07:38] #144 closed

[2020-12-20 20:20] lcdservices opened #166 "integer and numeric numeric custom fields incorrectly assumed to be monetary"
There are a few issues related to integer and numeric custom fields. To reproduce, create an integer and numeric custom field and expose via a profile on a grant application.

* on the form, all numeric fields are converted to a decimal to two places. for example, if you enter "2" and tab away from the field, it will be converted to "2.00". the code affecting this is here:
https://github.com/JMACo

[2020-12-21 13:10] Edzelopez commented on #166
Thanks for the suggestions @lcdservices !

I will provide a patch shortly.

[2020-12-22 13:22] Edzelopez commented on #166
@lcdservices does [this](https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/pull/167) patch solve the issues you were having?

[2020-12-22 14:25] lcdservices commented on #166
Yes, that fixes it. Though I think at some point you will want to do more cleanup.
For example, in Main.tpl you are conditioning on type = Int, which is no longer relevant.
And in Main.php you are conditioning on type = Money and changing the type to Float, which is also no longer necessary. And just prior to the affected code you set a few fixed fields as $numericFields and set them to type = Flo

[2020-12-22 14:45] JoeMurray commented on #166
@lcdservices thanks Brian!

@Edzelopez please do a thorough code review and cleanup over the next 10 days.

@monishdeb @seamuslee001 we should discuss planning in our next scrum a thorough review and possible cleanup of our other extensions now that core is fixing up money formatting.

[2020-12-22 14:49] Edzelopez commented on #166
Yep @lcdservices

The cleanup is intended to have it's own PR and is in progress. Thanks for the suggestions!

[2020-12-22 14:49] #166 closed

[2021-02-23 21:41] greenlanegreb opened #168 "Issue with installing and Uninstalling"
Drupal Version 9.1.4
CiviCRM: 5.34.0

On installing - screen goes blank
(can hit back) and comes up as installed
Database Updated Needed - click this it errors with:

[Error: Upgrade biz.jmaconsulting.grantapplications to revision 4301]
DB Error: unknown error
Can be disabled
On attempting to uninstall - screen blank

Thanks and Kind Regards,

Beanie.

`#2 /home/coronaun/myukmanifesto.uk/workflow/

[2021-04-09 13:48] cmastro commented on #168
Hi!

I have a similar issue and I have solved doing this:

- Go to "/home/coronaun/myukmanifesto.uk/workflow/registry3/sites/default/files/civicrm/ext/biz.jmaconsulting.grantapplications/sql"
- Verify the content of "upgrade_4301.sql"
- On my issue, the SQL try to drop an empty table, so I comment the line with the issue, and run again the Update. In your case, comment or edit the line with your i

[2021-04-09 16:18] JoeMurray commented on #168
Thanks for the report and diagnosis. @monishdeb please fix

[2021-11-02 18:39] webmaster-cses-org-uk commented on #168
Can confirm that these issues occur on Joomla as well (CiviCRM 5.37.0, Grant Application Pages 1.7.3).

When installing or enabling, site crashes with an HTTP 500 error, looking in Apache error log reveals the following:
`PHP Fatal error:  Cannot declare class CRM_Grant_Info, because the name is already in use in [...]/public_html/media/civicrm/ext/biz.jmaconsulting.grantapplications/CRM/Grant/Inf

[2021-11-02 19:13] webmaster-cses-org-uk opened #172 "Extension breaks formatting / layout of profile editor page"
When extension is enabled, the tabbed layout of the CiviCRM Profiles page is broken.

This is because the extension overrides CRM_UF_Page_Group and CRM_UF_Page_ProfileEditor, but the bundled files are out-of-date.

CRM_UF_Page_Group is missing the following section at line 365 of civicrm-core/CRM/UF/Page/Group.php:
[code]
This file needs to be updated to the latest version, but it would be better

[2021-11-02 22:12] webmaster-cses-org-uk opened #173 "Optional On Behalf Organisation not handled correctly"
If no On Behalf Organisation information is entered, when it is optional to do so, the form is processed as if a null organisation has been entered, erroneously creating an organisation with empty details and overwriting the contact's existing "current employer" field.

This seems to be due to an error on line 530 of CRM/Grant/Form/Grant/Confirm.php:
[code]
Should be:
[code]
For consistency with s

[2021-11-02 22:19] webmaster-cses-org-uk opened #174 "Email not included in thank-you page"
If a grant is submitted without any "On Behalf" information, the email is not included in the thank you message:

`An email receipt has also been sent to .`

Having looked in the code, the reason for this is unclear.

[2021-11-02 23:31] webmaster-cses-org-uk opened #175 "Grant custom fields not rendered properly in receipt email"
If custom fields belonging to the grant entity are included in the profile, they do not show correctly in the receipt email.

For example, a set of Note fields display as "custom_NNN" for the field name and "Array" for the value.

![image](https://user-images.githubusercontent.com/72983627/143836454-74e3c356-eb5e-40a4-bd40-cdd204e3f923.png)

Suspect this has something to do with the way that core

[2021-11-03 19:13] webmaster-cses-org-uk commented on #173
Created https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/pull/176 to fix this.

Tested and working on CiviCRM 5.37.0.

[2021-11-04 08:17] webmaster-cses-org-uk opened #177 "Email address not populated for logged-in user"
If a user is logged in when accessing the grant application page, the primary email address is not populated automatically.

Will work on a fix.

[2021-11-28 19:32] webmaster-cses-org-uk commented on #174
Turns out this is because an email address field is needed in one of the form profiles for this to work correctly.

Have created https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/pull/178 to clarify documentation and fix associated minor issue in template logic.

[2021-11-28 19:32] webmaster-cses-org-uk commented on #177
Turns out this is because an email address field is needed in one of the form profiles for this to work correctly.

Have created https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/pull/178 to clarify documentation and fix associated minor issue in template logic.

[2021-11-29 09:09] webmaster-cses-org-uk commented on #175
Identified root cause: core does not retrieve custom data for the 'Grant' entity type by default when getting profile fields, and does not consider 'Grant' a special profile type (such as 'Participant' or 'Event') when filtering / matching a profile against the contact type.

Raised https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/pull/179 to fix this.

[2021-11-29 14:05] JoeMurray commented on #172
Thanks for these useful PRs! @monishdeb please review all issues and once resolved/merged tag a new release.

[2021-11-29 14:09] #134 closed

[2021-11-29 14:10] JoeMurray opened #180 "review fork for code to include"
please check forks especially @josephlacey to find code to diff and merge. Apparently it was an extensive rewrite.

[2021-11-30 14:48] guyiac commented on #168
We're having trouble on install for WordPress and Drupal sites as well. Some look related to the organization issue, another looks like it's related to the field to indicate whether or not the grant page is a draft. Any thoughts on estimates to fix this Joe? I have a client that needs it and might be able to get some funding.

[2021-11-30 15:55] JoeMurray commented on #168
A question for @guyiac @greenlanegreb and @webmaster-cses-org-uk : what version of the extension did you install? I see that we have been remiss in not tagging new releases. There were a couple of branches created for CiviCRM v5.x but no tags. Master branch is considerably ahead.

@guyiac thanks very much for the offer of assistance. We're going to put in some effort in the coming week or two to a

[2021-11-30 16:01] guyiac commented on #168
I installed 1.7.3 through the Civi UI. Should I try uninstalling and instead installing from the master?

[2021-11-30 16:02] JoeMurray commented on #168
Yes.

Joe Murray, PhD (he/him)
President, JMA Consulting
416.466.1281

On Tue, 30 Nov 2021 at 11:01, Guy Iaccarino ***@***.***>
wrote:

[2021-11-30 18:26] guyiac commented on #168
I installed the master on a Drupal site (5.36.1) that had never had the extension, and it installed without any difficulty. However, it didn't indicate that there were any database updates that needed to be done - I'm not sure if that's expected behavior. Also, I can add Grant fields to a profile, but the New Grant Application Page link gives me a redirect error (no other pages on the site do).

[2021-11-30 20:25] webmaster-cses-org-uk commented on #168
I installed 1.7.3 directly through the CiviCRM extensions interface.

![image](https://user-images.githubusercontent.com/72983627/144122486-06e62c5a-6979-46bb-b8f3-742e96184558.png)

Hope that helps?

[2021-12-09 13:07] #175 closed

[2021-12-09 13:11] #174 closed

[2021-12-09 13:11] #173 closed

[2021-12-09 13:12] Edzelopez commented on #177
Closing this since PR has been merged. Thanks so much for the fix!

[2021-12-09 13:12] #177 closed

[2021-12-09 13:13] Edzelopez commented on #172
Yes, I agree that a long term solution is needed here instead of keeping the bundled files up to date. WIll investigate more on making grant_type a pseudoconstant which seems promising, but may have pushback from the core maintainers.

[2022-01-11 17:03] jmcclelland commented on #172
I agree that a long term fix is the best option - this will continue to cause breakage moving forward. But... in the meantime I just pushed the temp fix of adding the missing code. You may want to bump the required CiviCRM version to 5.39 (it works for me on that version, maybe it also works on earlier versions too).

[2022-04-03 18:04] webmaster-cses-org-uk opened #182 "Extension requires upgrade / refactoring for migration of CiviGrant to extension"
CiviCRM 5.47 migrates CiviGrant from a component to a core extension. This extension needs to be updated to account for this change.

https://civicrm.org/blog/dev-team/civicrm-547-release

Haven't yet had time to extensively check compatibility, but one thing that is broken is the following on line 376 of grantapplications.php:

``$userDashboard = $components['CiviGrant']->getUserDashboardObject()

[2022-06-08 11:05] adam-devapp opened #184 "Uncaught Error: Class 'CRM_Grant_BAO_Grant'"
Getting this error when running the 5.50.1 upgrader. The upgrade page won't load without the extension being disabled.

[code]

[2022-06-08 11:34] adam-devapp commented on #184
I had to disable the grant extension, then upgrade CiviCRM, then re-enable the grant extension and the error is no longer appearing..

[2022-06-13 22:59] adam-devapp commented on #184
Also when viewing the contact dashboard (wordpress widget showing user dashboard) on the front end of the site:

[code]

[2022-06-14 07:31] monishdeb commented on #184
Ok checking now !!

[2022-06-14 12:02] monishdeb commented on #184
@adam-devapp can you please try the PR https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/pull/185 ?

The issue occurred because of:
1. extension override the core file `CRM_Grant_BAO_Query` that is no longer required
2. core dropped the CiviGrant info file and moved all the components function to civigrant hooks (commit - https://github.com/civicrm/civicrm-core/pull/22064/commit

[2022-06-15 09:25] monishdeb commented on #182
@webmaster-cses-org-uk can you try the fix https://github.com/JMAConsulting/biz.jmaconsulting.grantapplications/pull/185 ?

[2022-06-27 08:46] Shwele opened #186 "Grant application is making Caldera Froms unusable"
After installing this module as test, my Caldera Forms weren't responsive at all. We could click to edit any that we wanted but switching between tabs, editing fields, everything wasn't responsive after that part.

Can provide more info if needed, but I think its easy to replicate for anyone and test this.

Here you can see how it looks like when its enabled on Wordpress Civicrm: [https://imgur.co

[2022-06-27 10:47] JoeMurray commented on #186
@monishdeb once the Assam floods recede and you are back at work, please look at this.

[2022-06-28 21:56] MegaphoneJon opened #187 "Merge with CiviGrant?"
It seems like overrides are an ongoing issue with this extension - but now that CiviGrant isn't in core, I think there's a strong argument for merging grant application functionality into CiviGrant itself.

[2022-06-29 18:02] JoeMurray commented on #187
@seamuslee001 could you review with @monishdeb and discuss with me?

[2022-06-30 08:11] monishdeb commented on #184
@adam-devapp did you get a chance to review the patch #185 ?

[2022-07-02 12:09] webmaster-cses-org-uk commented on #182
Thank you for this - I have tried the fix and yes the dashboard now loads correctly without error.

A couple of things, however:

1. The section shows even if it is empty (i.e. there are no grants).
2. There seems to be an unnecessary second section header "Manage Grant Application Pages"?

![image](https://user-images.githubusercontent.com/72983627/177000134-2deee2af-f4d0-4936-b9cd-e13d851c9b67.p

[2022-07-03 20:17] webmaster-cses-org-uk opened #188 "No protection against undefined array offsets gives PHP warnings"
In a few places in `GrantBase.php`, undefined array offsets (or uninitialised array variables) are referred to, causing our log file to fill up with many warnings / notices of the following nature:

[code]

A simple refactoring to use `CRM_Utils_Array::value()`, as is already done in other places, fixes this.

PR to follow.

[2022-07-03 20:22] webmaster-cses-org-uk commented on #188
#189 gives proposed fix.

[2022-07-04 01:02] adam-devapp commented on #184
Hi @monishdeb Waiting on approval from client to apply/test it. Will update again once tested.

[2022-07-04 20:16] JoeMurray commented on #188
Thanks, Adam!

@monishdeb please test and merge .

[2022-07-04 20:23] JoeMurray commented on #182
Hi @webmaster-cses-org-uk ,
1. The pattern of having a section show even if there is no content is present in a number of places in CIviCRM core, so I'm not inclined to change that especially without funding.
2. Manage Grant Application Pages is similar to Manage Contribution Pages (and Manage Events): it shows the pages that have been created and configured to allow users to apply for grants.
3.

[2022-07-05 03:50] monishdeb commented on #188
Thanks @webmaster-cses-org-uk for the PR. I have tested and merged the PR. Closing this ticket now.

[2022-07-05 03:50] #188 closed

[2022-07-14 23:33] webmaster-cses-org-uk commented on #182
@JoeMurray Thanks for your feedback.

1. Yes this is fine (and as you say consistent). I think the issue is just confused by having the second header.
2. Unless I've misunderstood, the purpose of this dashlet (and how it seemed to work before) was to allow a user to view and continue their saved/draft grant applications, not to manage grant application *pages*. Why would a front-end / public user

[2022-07-14 23:35] webmaster-cses-org-uk commented on #188
@monishdeb @JoeMurray Thank you both for your feedback. Glad we've been able to fix the issue.

[2022-07-15 00:26] JoeMurray commented on #188
Thank you @webmaster-cses-org-uk !

[2022-07-19 04:05] monishdeb commented on #186
@Shwele we have fixed some fatal issues with Civi 5.50+  and published a new release 1.8 (please check the latest release at https://civicrm.org/extensions/grant-application-pages). I have tested Caldera Form with this new release and didn't encounter any issue. Can you please upgrade Grant Applications to 1.8 and check if it resolves the CF issue?

[2022-07-19 04:05] monishdeb commented on #186
Moved to https://lab.civicrm.org/extensions/grantapplications/-/issues/186

[2022-07-19 04:05] #186 closed

[2022-07-19 04:06] monishdeb commented on #184
Moved to https://lab.civicrm.org/extensions/grantapplications/-/issues/184

[2022-07-19 04:06] #184 closed

[2022-07-19 04:10] monishdeb commented on #187
Moved to https://lab.civicrm.org/extensions/grantapplications/-/issues/187

[2022-07-19 04:10] #187 closed

[2022-07-19 06:37] monishdeb commented on #172
Closing this ticket as the related PR is merged now.

[2022-07-19 06:37] #172 closed

[2022-07-19 06:40] monishdeb commented on #168
I tested against the latest released version 1.8 (mentioned [here](https://civicrm.org/extensions/grant-application-pages) without any issue. @webmaster-cses-org-uk @guyiac please reopen the ticket - https://lab.civicrm.org/extensions/grantapplications/-/issues/168 if this issue occur

[2022-07-19 06:40] #168 closed

[2022-07-19 06:41] monishdeb commented on #180
Moved to https://lab.civicrm.org/extensions/grantapplications/-/issues/180

[2022-07-19 06:41] #180 closed

[2022-07-19 06:42] monishdeb commented on #182
Moved to https://lab.civicrm.org/extensions/grantapplications/-/issues/182

[2022-07-19 06:42] #182 closed